* {
    margin: 5px;
    padding: 0;
    font-family: monospace, sans-serif;
    line-height: 25px;
}

header {
    display: inline-block;
    padding: 20px;
    border-bottom: 1px solid rgba(205,207,210,.7);
    height: auto;
    width: 100%;
    position: relative;
}

nav {
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    border-bottom: 1px solid rgba(205,207,210,.7);
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.article, .refs {
    margin-top: 30px;
    max-width: 70%;
    height: auto;
    display: block;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2.25rem;
    padding: 8px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    
}

p {
    text-align: justify;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 100px;
}

td, th {
    border: 1px solid;
    text-align: center;
    padding: 8px
}

ul {
    margin: 10px;
    max-width: 100%;
    font-size: 15px;
    line-height: 25px;
}

li {
    margin-left: 25px;
}

aside {
    position: fixed;
    margin-left: 70%;
    height: auto;
    width: 28%;
    border: 1px dashed black;

}

footer {
    float: inline-end;
    clear: both;
    margin-top: 30px;
    border-top: 1px solid rgba(205,207,210,.7);
    height: 100px;
    text-align: center;
    padding: 20px;
}

.subtitle {
    display: block;
    font-size: 20px;
    color: #555;
    letter-spacing: -.03125rem;
    float: right;
}

.icon-left {
    align-items: center;
    display: flex;
    float: left;
    margin-right: 20px;
    margin-bottom: 8px;
}

.name-magazine {
    text-align: left;
    padding: 10;
    font-size: 30px;
}

.nav-link {
    justify-content: space-between;
    margin-left: 0px;
}

.img-explicativa {
    float: left;
    position: relative;   
    margin-right: 10px;
    padding-bottom: 20px;
}

.img-autor {
    border-radius: 50px 25px;
    float: inline-end;
    clear: both; 
}

#class-cient {
    clear: both;
}

#info-gerais {
    max-width: 70%;
}