* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  h4 {
    color: black;
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }

  header {
    background-color: rgba(126, 128, 250, 0.94);
    color: white;  
    display: flex;
    justify-content: space-between;
  }

  .header-img {
    width: 60px;

  }
  
  footer {
      display: flex;
      justify-content: center;
      margin: 10px;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: aqua;

  }

  .gallery-img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    max-width: 20%; 
    border: 1px solid black;
    background-color: blueviolet;

  }
  
 

  